.fechas-box-textarea{
    display: flex;
    justify-content: space-around;
    gap: 22px;
}


.fechas-box-textarea .input-text{
    display: flex;
    width: 100%;
    max-width: 70px;
    margin-left: 0px;
    border-radius: 8%;
    border: 1px solid var(--neutral-light-grey);
    transition: 0.2s all ease-in-out;
    justify-content: space-around;
    font-size: 19px;
}
input{
    font-weight: 900;
    padding: 12px 5px 12px 12px;
}

input:focus{
    outline: none;
}

.fechas-box-textarea label{
    font-size: 11px;
    font-weight: 600;
    color: var(--neutral-smokey-grey);
    text-transform:uppercase;
    letter-spacing:3px;
}

@media screen and (min-width: 600px) {
    .fechas-box-textarea{
        margin-top: 3rem;
    }

}

@media screen and (min-width:  1300px) {    
   
    .fechas-box-textarea .input-text{
        max-width: 90px;
    }

    .fechas-box-textarea label{
        font-size: 14px;
        font-weight: 800;
    }
}


